


/* Tab Container */
.Tabs2 {
    margin-top:30px;
    width: 100%;
    height: auto;
    color:black;
    margin-bottom:20px;
  }
 
  
  /* Tab Navigation */
  .nav2 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-align: center;
    margin:auto;
    width: 60%;
    justify-content: flex-start;
  }

  ul.nav2 li {
   
  padding: 10px;
  flex: 30%;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: all 0.7s;
  background-color: aliceblue;

  }
  @media (max-width: 768px) {
    ul.nav2 li {
      padding: 10px;
    } 
    .nav2
    {font-size: 12px;
      width:100%;
    }
   
  }
  ul.nav2 li:nth-child(2) {
    border-radius: 0;
   
  }
  ul.nav2 li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.nav2 li.active {
    background: #39A2DB;
  }
  
  