


/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  margin: auto;
  color:black;
}
.canvas-container {
  height: 50vh;
  width: 100vw;
  position: relative;
  margin:auto;
}

@media (min-width: 768px) {
  .canvas-container {
    height: 80vh;
    width: 60vw;
    position: relative;
   }
}


/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
@media (max-width: 768px) {
  ul.nav li {
  width: 100%;
  padding:0.5rem;
}
}

ul.nav li:nth-child(2) {
  border-radius: 0;
 
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

/* First and Second Tab Styles */
